<launch>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam>
            use_nav_sat: false
            use_odom: true
            use_imu: true
            use_odom_for_pose: true
            frequency: 100.0
            sensor_timeout: 1.0
            two_d_mode: false
            debug: false
            publish_tf: true
            publish_rate: 100.0
            odom_frame: "odom"
            base_link_frame: "base_link"
            world_frame: "odom"
            odom0:
                priority: 50
                child_frame_id: "odom"
                pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.01, 0.01, 0.01]
                twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.01, 0.01, 0.01]
                linear_acceleration_covariance_diagonal: [0.001, 0.001, 0.001]
            imu0:
                priority: 50
                child_frame_id: "base_link"
                imu_optical_frame_id: "camera_link"
                imu_optical_frame_id: "camera_link"
                pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.01, 0.01, 0.01]
                twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.01, 0.01, 0.01]
                linear_acceleration_covariance_diagonal: [0.001, 0.001, 0.001]
            uwb0:
                priority: 50
                child_frame_id: "odom"
                pose_covariance_diagonal: [0.0001, 0.0001, 0.0001, 0.001, 0.001, 0.001]
                twist_covariance_diagonal: [0.0001, 0.0001, 0.0001, 0.01, 0.01, 0.01]
                linear_acceleration_covariance_diagonal: [0.0001, 0.0001, 0.0001]
        </rosparam>
    </node>
</launch>
